@theme{
    --color-*:initial;

    --color-primary-700: #003C4D;
    --color-primary: #50A787;
    --color-primary-200: #B8E2CF;
    --color-primary-100: #F0F9F5;

    --color-secondary: #F0F9F5;
    --color-secondary-700: #003C4D;
    --color-secondary-200: #B8E2CF;
    --color-secondary-100: #F0F9F5;

    --color-black: #002C39;
    --color-white: #FFFFFF;


    --color-gray-600:#404040;
    --color-gray: #737373;
    --color-gray-400: #A6A6A6;
    --color-gray-300: #BFBFBF;
    --color-gray-200: #F0EAE2;

    --breakpoint-*: initial;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --breakpoint-3xl: 120rem;
    --breakpoint-menu-desktop: 64rem;

    /* --title-xl: 20px;
    --title-2xl: 24px;
    --title-3xl: 36px;
    --title-4xl: 48px;
    --title-5xl: 64px; */

    --rounded-*: initial;
    --rounded-sm: 0.375rem;
    --rounded-md: 0.5rem;
    --rounded-lg: 0.75rem;
    --rounded-xl: 1rem;
    --rounded-2xl: 1.5rem;
    --rounded-3xl: 2rem;
    --rounded-full: 9999px;

    --shadow-card: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    --ease-bouncy: cubic-bezier(.6,2.7,.8,.8);

    --container-*: initial; /* container queries */

    --transition-duration-*: initial;
    --transition-duration-s: 200ms;
    --transition-duration-m: 300ms;
    --transition-duration-l: 500ms;

    --pib-container-padding: 1.25rem;
    --pib-menu-height--fallback: 110px;
}

@utility container {
  margin-inline: auto;
  width: calc(100% - var(--pib-container-padding) * 2);

}

@utility ds-underline{
  position: relative;
}

.ds-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform var(--transition-duration-m) ease-in-out;
}

.ds-underline:hover::after {
  transform: scaleX(1);
  transition: transform var(--transition-duration-m) ease-in-out;
}